@import "../Variables.scss";
@import "../Mixins.scss";
.banner {
  width: 100%;
}
.posimg{
  width: 600px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.itemList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contenido_ {
  margin-top: 50px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.pBlue {
  color: $COLOR_PRINCIPAL;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.check {
    width: 40px;
    height: 60px;
    padding: 0 20px;
    
}
.liCheck{ 
    width: 550px;
    font-size: 17px;
}