@import "../Variables.scss";
@import "../Mixins.scss";
.banner {
  width: 100%;
}

.contenido_ {
  margin-top: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.pBlue {
  color: $COLOR_PRINCIPAL;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.check {
    width: 40px;
    height: 60px;
}
.liCheck{ 
    width: 550px;
    font-size: 17px;
    position: relative;
    bottom: 45px;
    left: 50px;
}
ul{
    margin: 0;
}