@import "../Variables.scss";

.containerContactUs {
  position: relative;
  height: 100%;
}
.containerwhite {
  width: 1200px;
  height: 600px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 20px;
  left: 70px;
}
.hmx {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.contactoTitle {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px $COLOR_PRINCIPAL;
}
.contactoP {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px $COLOR_PRINCIPAL;
}
.contacto {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.ContainerBoss {
  display: grid;
  grid-template-columns: repeat(2, 600px);
}
.sub {
  width: 300px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: $COLOR_NEGRO;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  //font-family: $Tipo2;
  font-size: 18px;
}
.Datos {
  font-size: 30px;
  color: $COLOR_NEGRO;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.box {
  width: 150px;
  height: 30px;
  border-radius: 3px;
  display: block;
  margin-left: 150px;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: $COLOR_PRINCIPAL;
}
.containerCheck {
  margin-top: 10px;
  text-align: center;

}
::placeholder { 
    color: $COLOR_PRINCIPAL;
  }
