@import "./Variables.scss";
@mixin max-width($maxwidth: $page-max-width) {
  max-width: $maxwidth;
}

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

//To give margins & Paddings
$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  //MARGIN
  .m-#{$space} {
    margin: #{$space}rem;
  }
  //Vertical MArgin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  //horizontal MArgin
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  // MArgin top
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  // MArgin top
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }

  //PADDING
  .p-#{$space} {
    padding: #{$space}rem;
  }
  //VeRtical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  //HORIZONTAL Padding
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
  //TOP Padding
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  //TOP Padding
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
}
