@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
//Colores
$COLOR_PRINCIPAL:#004E69;
$COLOR_NEGRO:#1B1F26;
$COLOR_TRANSPARENT: rgba(255, 255, 255, 0.5);

$BOX_SHADOW: 0px 2px 4px 1px rgba(0,0,0,0.17);

$FUENTE_MONSE: 'Montserrat';



$FUENTE_DOMI:'Bangers', cursive;