@import '../Variables.scss';

.cartHome{
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 3px solid rgb(252, 241, 241);
  //  background-color: $COLOR_TRANSPARENT;//variable
    border-radius: 0.2em;
    box-shadow: $BOX_SHADOW; //varriable
    font-size: 20px;
    color: $COLOR_NEGRO;
    margin-top: 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.cartP{
font-family: $FUENTE_MONSE;
text-align: center;
color: $COLOR_PRINCIPAL;
font-size: 25px;
}
.cartContenido{
color: $COLOR_NEGRO;
font-size: 15px;
width: 300px;
margin-top: 20px;

line-height: 1.5
}

.cartIcon{
    width: 80px;
    height: 80px;
display: block;
margin: auto;
margin-top: 10px;
}

.cartButton{
    padding:10px ;
    border: 2px solid $COLOR_NEGRO;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    
}
